<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.payment.channel.dao.mapper.ChannelInfoMapper">

    <resultMap id="BaseResultMap" type="com.baosight.payment.channel.dao.entity.ChannelInfo">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="channelName" column="channel_name" jdbcType="VARCHAR"/>
            <result property="channelCode" column="channel_code" jdbcType="VARCHAR"/>
            <result property="channelAgency" column="channel_agency" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,channel_name,channel_code,
        channel_agency,create_time,update_time,
        type
    </sql>
</mapper>
