<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.payment.order.mapper.PayOrderMapper">
    <update id="updateRefundAmount">
        update pay_order
        set refund_amount = refund_amount + #{refundAmount}
        where id = #{orderId}
    </update>
    <select id="payOrderPage" resultType="com.baosight.payment.order.pojo.vo.PayOrderPageVO">
        select id as orderId,
        order_no as orderNo,
        mch_id as mchId,
        mch_no as mchNo,
        isv_id as isvId,
        isv_no as isvNo,
        mch_name as mchName,
        mch_type as mchType,
        mch_order_no as mchOrderNo,
        if_code as channelCode,
        total_amount as totalAmount,
        pay_amount as payAmount,
        promotion_amount as promotionAmount,
        mch_fee_rate as mchFeeRate,
        currency,
        state,
        channel_extra as channelExtra,
        channel_user as channelUser,
        channel_order_no as channelOrderNo,
        refund_state as refundState,
        refund_amount as refundAmount,
        has_division as hasDivision,
        division_mode as divisionMode,
        division_state as divisionState,
        expired_time as expiredTime,
        success_time as successTime,
        create_time as createTime,
        update_time as updateTime,
        notify_state as notifyState
        from pay_order
        <where>
            <if test="payOrderPage.orderId != null">
                and id = #{payOrderPage.orderId}
            </if>
            <if test="payOrderPage.orderNo != null and payOrderPage.orderNo != ''">
                and order_no = #{payOrderPage.orderNo}
            </if>
            <if test="payOrderPage.mchId != null">
                and mch_id = #{payOrderPage.mchId}
            </if>
            <if test="payOrderPage.mchNo != null and payOrderPage.mchNo != ''">
                and mch_no = #{payOrderPage.mchNo}
            </if>
            <if test="payOrderPage.channelCode != null and payOrderPage.channelCode != ''">
                and if_code = #{payOrderPage.channelCode}
            </if>
            <if test="payOrderPage.mchName != null and payOrderPage.mchName != ''">
                and mch_name LIKE CONCAT('%', #{payOrderPage.mchName}, '%')
            </if>
            <if test="payOrderPage.notifyState != null">
                and notify_state = #{payOrderPage.notifyState}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
