<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.payment.system.mapper.PayWayMapper">

    <select id="page" resultType="com.baosight.payment.system.pojo.vo.PayWayPageVO">
        select
        id,
        pay_code,
        pay_name,
        disable,
        paying_category,
        paying_agency,
        paying_client,
        create_by_name,
        update_by_name
        from pay_way
        <where>
            <if test="payWayDTO.payWayCode != null and payWayCode.payWayCode != ''">
                and pay_code = #{payWayDTO.payWayCode}
            </if>
            <if test="payWayDTO.payWayName != null and payWayDTO.payWayName != ''">
                and pay_name like concat('%',#{payWayDTO.payWayName}, '%')
            </if>
            <if test="payWayDTO.payingCategory != null">
                paying_category = #{payWayDTO.payingCategory}
            </if>
            <if test="payWayDTO.disable != null">
                disable = #{payWayDTO.disable}
            </if>
        </where>
        order by create_time ASC
    </select>
</mapper>
