<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.payment.system.mapper.RequestInterfaceRecordMapper">

    <resultMap id="BaseResultMap" type="com.baosight.payment.system.pojo.entity.RequestInterfaceRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="bizType" column="biz_type" jdbcType="INTEGER"/>
            <result property="interfaceId" column="interface_id" jdbcType="INTEGER"/>
            <result property="payAgency" column="pay_agency" jdbcType="VARCHAR"/>
            <result property="request" column="request" jdbcType="VARCHAR"/>
            <result property="response" column="response" jdbcType="VARCHAR"/>
            <result property="success" column="success" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        biz_type,interface_id,pay_agency,
        request,response,success
    </sql>
</mapper>
