<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.payment.mapper.PayTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baosight.payment.pojo.entity.PayType">
        <id column="id" property="id" />
        <result column="pay_type_code" property="payTypeCode" />
        <result column="pay_type_name" property="payTypeName" />
        <result column="paying_category" property="payingCategory" />
        <result column="paying_agency" property="payingAgency" />
        <result column="paying_client" property="payingClient" />
        <result column="disable" property="disable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pay_type_code, pay_type_name, paying_category, paying_agency, paying_client, disable, create_time, update_time, create_by, update_by
    </sql>

</mapper>
